@font-face {
    font-family: myfont;
    src: url(../fonts/VNI_THUPHAP.TTF);
}

header {
    background: linear-gradient(blue, white);
}

.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flex1 {
    display: flex;
    align-items: center;
}

.find {
    width: 1rem;
}

.ads > div > div {
    border: 1.5px dashed darkblue;
    padding: 2.5rem 0.2rem;
    margin: 0.1rem;
    background-color: aqua;
}

ul.menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background: lightgreen;
}

ul.menu > li > a {
    display: block;
    padding: 1rem;
    border-right: 1px solid darkblue;
}

ul.menu > li > a:hover {
    background-color: blue;
    color: white;
}

.left {
    width: 20%;
}

.right {
    width: 80%;

}

.v-menu {
    flex-direction: column !important;
    background: linear-gradient(lightblue, white) !important;
}

.v-menu li {
    width: 100%;
}

.book {
    width: 19%;
}



.divboox {
    width: 100%;
}

div.book > h2 {
    display: none;
    position: relative;
}

div.book:hover {
    display: block;
    position: absolute;
}

