*{
    padding: 0;
    margin: 0;;
}
:root{
    --myspace:0.5rem;
}
h1{
    text-align: center;
    text-transform: uppercase;
}
ul.menu{
    display: flex;
    flex-wrap: wrap;
    list-style-type: none   ;
    background-color: lightcyan;
}
ul.menu >li {
    border-left: 1px solid blue;
    min-width: 150px;
    text-align: center;
}
ul.menu >li:first-child{
   border-left: none;
}
ul.menu >li:last-child{
    margin-left: auto;
}
ul.menu >li >a{
    text-decoration: none;
    display: block;
    padding: 1rem;
}
ul.menu >li >a:hover{
    background-color: blue;
    color: #FFFF;
}
.langs{
    background-color: lightgrey;
    margin-top: var(--myspace);

}
.lang {
    display: flex;
    border-bottom: 1px solid blue;
}
.lang:last-child{
    border-bottom: none;

}
.lang > div {
    padding: var(--myspace);
}
.col1{
    width: 10%;
    
}
.col1 img{
    width: 100%;
    transition: transform 2s;
}
.col1:hover img{
    transform: rotate(30deg);
}

.col2{
    width: 90%;
}
@keyframes move {
    from{
        left: 0%;
    }
    to {
        left: 100%;
    }    
}
.foot{
    background-color: blue;
    margin-top: 1rem;
    overflow: hidden;
}
h3{
    /* text-align: center; */
    color: #FFFF;
    margin-top: var(--myspace);
    padding: var(--myspace);
    position: relative;
    animation: move 5s infinite;
}
.submenu {
    display: none !important;
    position: absolute;
}
.submenu >li {
    border-left: none !important;
}
.sub:hover .submenu{
    display: block !important;
}

